# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
# Maven
######################
/log/
/target/
/wells-fargo-ach-service/target/**
/wells-fargo-api-client/target/**
######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Directories
######################
/bin/
/deploy/

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*
######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

[color]
    ui = true
[color "status"]
    changed = red bold
    untracked = red bold
    added = green bold
